html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height: 100%;
   position: relative;
}

#header {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #747373;
    box-shadow: 0 0.5em 0.8em 0 #000;
    z-index: 9999;
}

#title {
    height: 10%;
    width: 24.05%;
    float: left;
    display: block;
    position: inherit;
    background-color: #fff;
    top: 2em;
    left: 3em;
    background-image: url("../IMAGES/Temp.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.5em 0.8em 0 #000;
}

ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    width: auto;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#content {
    background-color: grey;
}

#top {
    background-color: black;
    height: 40%;
    width: 100%;
}

#left {
    background-color: red;
    display: block;
    color: white;
    width: 80%;
    height: auto;
    float: left;
}

#right {
    background-color: blue;
    display: block;
    width: 20%;
    height: auto;
    margin-left: 80%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    height: 2em;
    background: #434343;
    text-align: center;
}